@model List<Core.Model.SubButton>
@{ViewBag.Title = "Chọn môn";}
<div class="banner-img-v3 bg-position-fixed">
    <div class="content-lg container">
        <div class="heading-v2 text-center">
            <h2 class="heading-v2-title text-white wow fadeInUp animated">Làm bài kiểm tra</h2>
            <p class="heading-v2-text text-white wow flipInY animated">Trắc nghiệm kiến thức bằng hệ thống câu hỏi từ ngân hàng đề thi trực tuyến</p>
        </div>
    </div>
</div>
<div class="bg-color-sky-light">
    <div class="content-md container">
        <div class="row">
            @foreach (Core.Model.SubButton sub in Model)
            {
                <div class="col-md-4 margin-b-30 wow flipInY animated">
                    <!-- Blog Classic -->
                    <article class="blog-classic">
                        <img class="img-responsive" src="~/@sub.ImgUrl" alt="@sub.Lable1">
                        <div class="blog-classic-body">
                            <h2 class="blog-classic-title">@sub.Lable1</h2>
                            <span class="blog-classic-subtitle">@sub.Lable2</span>
                            <p class="blog-classic-paragraph">@sub.SubId</p>
                        </div>
                        <div class="blog-classic-overlay">
                            <div class="blog-classic-hover">
                                <img class="blog-classic-hover-img" src="~/@sub.ImgUrl" alt="@sub.Lable1">
                            </div>
                            <div class="blog-classic-overlay-body">
                                <h2 class="blog-classic-title">@sub.Lable1</h2>
                                <span class="blog-classic-subtitle">@sub.Lable2</span>
                                <a class="blog-classic-paragraph" href="#">@sub.SubId</a>
                            </div>
                        </div>
                        <a href="#" class="blog-classic-link" onclick="LoadQuestion('@sub.SubId')"></a>
                    </article>
                    <!-- End Blog Classic -->
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        function LoadQuestion(subid)
        {
            $('<form action="testing/index" method="POST">' + 
                '<input type="hidden" name="sub" value="' + subid + '">' +
                '</form>').submit();
        }
    </script>
}