@model List<Core.Model.Staff>
@if (Model.Count > 0)
{
    <div class="banner-img-v3 bg-position-fixed" style="background: url(../../Images/1920x1080/06.jpg) no-repeat;">
        <div class="content-sm container">
            <div class="heading-v2 text-center">
                <h2 class="heading-v2-title text-white">Gặp mặt những con người đầy đam mê</h2>
                <p class="heading-v2-text text-white">Chúng tôi là những con người đầy tham vọng, ngoài điều đó ra chúng tôi khá đơn giản =))</p>
            </div>
        </div>
    </div>
    <div class="content-md container">
        <!-- Team v6 -->
        <div class="row">
            @foreach(Core.Model.Staff staff in Model)
            {
            <div class="col-sm-3 sm-margin-b-30">
                <!-- Team v6 -->
                <div class="team-v6 wow flipInY animated">
                    <div class="team-v6-img-gradient">
                        <img class="full-width img-responsive" src="@staff.img_link" alt="@staff.img_link">
                    </div>
                    <div class="team-v6-info">
                        <h2 class="team-v6-member">@staff.name</h2>
                        <ul class="list-inline team-v6-socials ul-li-lr-3">
                            <li class="theme-icons-wrap"><a href="@staff.linkfb"><i class="theme-icons theme-icons-white-hover theme-icons-md radius-circle margin-b-0 fa fa-facebook"></i></a></li>
                            <li class="theme-icons-wrap"><a href="@staff.linkgoogle"><i class="theme-icons theme-icons-white-hover theme-icons-md radius-circle margin-b-0 fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Team v6 -->
            </div>
            }
        </div>
        <!--// end row -->
        <!-- Team v6 -->
    </div>

}
