@model List<Core.Model.Staff>
@{
    ViewBag.Title = "Trang chủ";
}

@section styles{
    @Styles.Render("~/Content/rev-slider")
    @Styles.Render("~/Content/cubeportfolio")
}
@section scripts{
    @Scripts.Render("~/Scripts/rev-slider")
    @Scripts.Render("~/Scripts/counter")
    @Scripts.Render("~/Scripts/cubeportfolio")
    @Scripts.Render("~/Scripts/validation")
    @Scripts.Render("~/Scripts/portfolio")
    @Scripts.Render("~/Scripts/components_index")
}
@Html.Partial("_Slide")
@Html.Partial("_Platform")

@*RenderAction platform*@

@Html.Action("RenderNews")


@*Counter*@
@*Teammmm*@
@*News*@



<!-- HTML5 Video -->
<div class="full-width-container">
    <div class="html5-video-bg" style="width: 100%; height: 400px;"
         data-vide-bg="mp4: ../Video/peugeot/peugeot, webm: ../Video/peugeot/peugeot, ogv: ../Video/peugeot/peugeot, poster: ../Video/peugeot/peugeot"
         data-vide-options="{posterType: 'detect', resizing: true, position: 50% 50%, overlay: true}">
    </div>
    <div class="ver-center-aligned-block text-center">
        <div class="parallax-content-v1 margin-b-50">
            <h2 class="parallax-content-v1-title">We'll help Manage your Site</h2>
            <p class="parallax-content-v1-subtitle">Who says the corporate based web page can't also be used as e-commerce, construction or even more.</p>
        </div>
        <button type="button" class="btn-white-brd btn-base-md radius-3 margin-r-10">View More</button>
        <button type="button" class="btn-white-bg btn-base-md radius-3">Purchase</button>
    </div>
</div>
<!-- End HTML5 Video -->