@section scripts{
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.6&appId=255099698154504";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

}
@model Core.Model.News
    @section img{
        <section class="breadcrumbs-v5 bg-position-fixed breadcrumbs-v5-bg-img-v4">
            <div class="container">
                <h2 class="breadcrumbs-v5-title">@Model.title</h2>
                <span class="breadcrumbs-v5-subtitle margin-t-10">Tin tức > @Html.ActionLink(Model.NewsType.name, "cat", "home", new { id = 1, type = Model.type }, null)</span>
                <span class="breadcrumbs-v5-subtitle"><i class="fa fa-clock-o"></i> @Model.date</span>
            </div>
        </section>
    }
    <!--========== PAGE CONTENT ==========-->
    @{ViewBag.Title = Model.title;}
    <div class="content-sm container">
        <div class="row">
            <div class="col-md-9 md-margin-b-50">
                <!-- Blog Grid -->
                <article class="blog-grid margin-b-30">
                    <!-- Image -->

                    <!-- End Image -->
                    <!-- Blog Grid Content -->
                    <div class="blog-grid-content">
                        <h2 class="blog-grid-title-lg"></h2>
                        <p class="cat"></p>
                        <p class="meta">
                        </p>

                        @Html.Raw(Model.text)

                        <!-- End Blog Grid Tags -->
                    </div>
                    <!-- End Blog Grid Content -->
                </article>
                <!--/.sharrre-container-->
                <!-- End Blog Grid -->
                @if (ViewData["listNews"] != null)
            {
                List<Core.Model.News> list = (List<Core.Model.News>) ViewData["listNews"];
                    <hr />
                    <div>
                        <h3>Bài viết liên quan</h3>
                        <ul>
                            @foreach(Core.Model.News news in list)
                        {
                                <li>@Html.ActionLink(news.title,"newsid/"+news.id,"home")</li>
                        }
                        </ul>
                    </div>
            }
                <br/>
                
            </div>

            <!--========== BLOG SIDEBAR ==========-->
            @Html.Action("LatestNews")
            <!--========== END BLOG SIDEBAR ==========-->
        </div>
        <div class="fb-comments" data-href="@HttpContext.Current.Request.Url.AbsoluteUri" data-width="800" data-numposts="5"></div>
        <!--// end row -->
    </div>
    <!--========== END PAGE CONTENT ==========-->