@model PagedList.IPagedList<Core.Model.News>
@using PagedList.Mvc;
@{ViewBag.Title = "Tin tức";}
@{ 
    string nameOfActionCallThisView = ViewContext.RouteData.GetRequiredString("action");
    string nameOfControllerCallThisView = ViewContext.RouteData.GetRequiredString("controller");
    string full = nameOfControllerCallThisView + "/" + nameOfActionCallThisView;
    string head;
    if(full.Equals("home/cat", StringComparison.OrdinalIgnoreCase)) { head = "lg"; } else { head = "sm"; }
}
<div class="banner-img-v3 bg-position-fixed">
    <div class="content-@head container">
        <div class="heading-v2 text-center">
            <h2 class="heading-v2-title text-white wow fadeInUp animated">Tin tức</h2>
            <p class="heading-v2-text text-white wow flipInY animated">Đừng bỏ lỡ những thông tin cập nhật quan trọng</p>
        </div>
    </div>
    </div>
<div class="bg-color-sky-light">
    <div class="content-md container">
        @if (Model.Count > 0)
        {
        <!-- Masonry Grid -->
            <div class="masonry-grid margin-b-40">
                @foreach (Core.Model.News news in Model)
                {
                    <div class="masonry-grid-item col-3 wow zoomIn animated">
                        <!-- News v1 -->
                        <article class="news-v1">
                            <div class="news-v1-heading">
                                @Html.ActionLink(@news.NewsType.name, "cat", "home", new { @page = 1, @type = news.type }, new { @class = "news-v1-heading-tag" })
                                <span class="news-v1-element"><i class="news-v1-element-icon fa fa-circle"></i></span>
                                <h3 class="news-v1-heading-title">@Html.ActionLink(@news.title, "newsid/"+news.id, "home")</h3>
                            </div>
                            @{
                                String img_link = "";
                                if(news.img_link == null) {img_link = "../../Images/news_noimage.png";}
                                else {img_link = news.img_link;}
                            }
                            <a class="image-popup-vertical-fit" href="@img_link" title="Image">
                                <img class="img-responsive" src="@img_link" alt="QuizOne News @img_link">
                            </a>
                            <div class="news-v1-content">
                                @{
                                    string display = "";
                                    if (news.text != null)
                                    {
                                        if (news.text.Count() > 70)
                                        {
                                            display = news.text.Substring(0, 69);
                                            display = display + "...";
                                        }
                                        else
                                        {
                                            display = news.text;
                                        }
                                    }
                                }
                                <p class="news-v1-quote">@display</p>
                            </div>
                            <hr style="margin:0px;"/>
                            <div class="news-v1-content">
                                <ul class="list-inline news-v1-lists">
                                    <li class="news-v1-lists-item"><i class="fa fa-calendar"></i> @news.date.ToString("dd-MM-yyyy")</li>
                                    <li class="news-v1-lists-item"><i class="fa fa-eye"></i> @news.view_count</li>
                                </ul>
                            </div>
                        </article>
                        <!-- End News v1 -->
                    </div>
                    
                }
            </div>
        <!-- End Masonry Grid -->
        <!-- Button -->
            <div class="center-block">
                @Html.PagedListPager(Model, page => Url.Action(ViewBag.Action, new { page, type=ViewBag.type }))
            </div>
            
        <!-- Button -->

        }
        else
        {
            <p>Không tìm thấy yêu cầu truy vấn</p>
        }
    </div>
</div>