@model QuizWebApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Không muốn đăng ký? Đăng nhập bằng:</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Dịch vụ chứng thực đăng nhập bên ngoài chưa được cấu hình. Vui lòng liên hệ quản trị viên.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn-tw-bg btn-base-animate-to-top btn-base-md" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType
                        <span class="btn-base-element-md"><i class="btn-base-element-icon fa fa-facebook"></i></span>
                    </button>
                    }
                </p>
            </div>
        }
    }
}
