@{
    string Request_Url = Request.Url.PathAndQuery.ToLower();
    if(Request_Url.Length>1)
    { 
        if (Request_Url.EndsWith("/"))
        {
            Request_Url = Request_Url.Substring(0, Request_Url.Length - 1);
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quiz Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @*Scripts.Render("~/bundles/modernizr")*@
    
</head>
<body class="home blog">

    <div class="navbar navbar-inverse navbar-fixed-top">

        @Html.Partial("_Header")

    </div>

    
    @RenderSection("featured",required:false)

    @if (Request_Url != "/" && Request_Url != "/home/index" && Request_Url != "/home")
    {<div class="row spacer"></div>}
    <div class="navbar navbar-inverse navbar-sub">

       @Html.Partial("_SubNav")

    </div>

    <div class="col-md-9  col-md-push-3  cont-grid">


        @RenderBody()

    </div>

    <div class="col-md-3  col-md-pull-9  sidebar">
        @*Html.Action("Sidebar", "Home")*@
        @Html.Partial("_Sidebar")
    </div>

    <div class="col-md-12 footer">

        @Html.Partial("_Footer")

    </div>


    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullby")
    @RenderSection("scripts", required: false)
</body>
</html>
