<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- HEAD -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - QuizApplication</title>
    <meta name="keywords" content="HTML5 Theme" />
    <meta name="description" content="QuizApplication">
    <meta name="author" content="quizonepro.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/et-line")

    @Styles.Render("~/Content/scrollbar")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/magnific-popup")

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("styles", false)
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>

    <div class="wrapper animsition">
        @Html.Partial("_TopNav")

        @Html.Partial("_Sidebar")
        @RenderSection("img", false)
            @RenderBody()
        @Html.Partial("_Footer")

    </div>
    <!-- Sidebar Content Overlay -->
    <div class="sidebar-content-overlay"></div>
    <!-- End Sidebar Content Overlay -->
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top-theme"></a>
    <!-- End Back To Top -->
    @Scripts.Render("~/Scripts/plugins")

    @Scripts.Render("~/Scripts/scrollbar")

    @Scripts.Render("~/Scripts/magnific-popup")

    @Scripts.Render("~/Scripts/app")
    @Scripts.Render("~/Scripts/components")
    @RenderSection("scripts", false);
    <script>
        $(document).ready(function () {
            $("script ~ div").css('display', 'none');
            $("center a").css('display', 'none');
        });
    </script>

</body>
<!-- END BODY -->

</html>
