<!DOCTYPE html>
<html lang="vi" class="no-js" xmlns:fb="http://ogp.me/ns/fb#">
<!-- HEAD -->
<head>
    <meta property="fb:app_id" content="255099698154504" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - QuizOne</title>
    <meta name="keywords" content="quizone, quizapp, quiz, quiz one, quiz app, quizonepro, trắc nghiệm, quiztest, quiz test" />
    <meta name="description" content="QuizOne - Ứng dụng trắc nghiệm đa nền tảng">
    <meta name="author" content="quizonepro.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,500,300,300italic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/GlobalStyle")
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME PLUGINS STYLE -->
    @Styles.Render("~/Content/ThemePluginStyle")
    <!-- END THEME PLUGINS STYLE -->

    <!-- THEME STYLES -->
    @Styles.Render("~/Content/ThemeStyle")
    <!-- END THEME STYLES -->

    <!-- CUSTOM STYLES -->
    @Styles.Render("~/Content/CustomStyle")
    <!-- END CUSTOM STYLES -->

    <!-- BEGIN JQUERY -->
    @Scripts.Render("~/bundles/jquery")
    <!-- END JQUERY -->

    <!-- ADD -->
    @RenderSection("styles", false)
    <!-- END ADD -->

    <!-- FAVICON -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    <!-- END FAVICON -->
</head>
<!-- END HEAD -->
<!-- BODY -->
<body class="animsition">
    <!-- WRAPPER -->
    <div class="wrapper">
        <!--========== HEADER CENTER ALIGNED TRANSPARENT ==========-->
        @Html.Partial("_TopNav")
        <!--========== END HEADER CENTER ALIGNED TRANSPARENT ==========-->
        <!--========== SIDEBAR ==========-->
        @Html.Partial("_Sidebar")
        <!--========== END SIDEBAR ==========-->
        @RenderSection("img", false)
        <!--========== PAGE CONTENT ==========-->
        @RenderBody()
        <!--========== END PAGE CONTENT ==========-->
        <!--========== FOOTER ==========-->
        @Html.Partial("_Footer")
        <!--========== END FOOTER ==========-->
    </div>
    <!-- END WRAPPER -->
    <!-- Sidebar Content Overlay -->
    <div class="sidebar-content-overlay"></div>
    <!-- End Sidebar Content Overlay -->
    <div id="loading" style="display:none;z-index:99000;width:100%;height:100%;position:fixed;left:0;top:0;background-color:#f1f1f1;opacity:0.5;">
        <img src="~/Resources/images/loading.gif" style="left:20%;top:25%;position:absolute" />
    </div>
    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top-theme"></a>
    <!-- End Back To Top -->
    <!--========== JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) ==========-->
    <!-- CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/Scripts/CoreScript")
    <!-- END CORE PLUGINS -->
    <!-- PAGE LEVEL PLUGINS -->
    @Scripts.Render("~/Scripts/PagePluginScript")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- PAGE LEVEL SCRIPTS -->
    @Scripts.Render("~/Scripts/PageScript")
    <!-- END PAGE LEVEL SCRIPTS -->
    <!--========== END JAVASCRIPTS ==========-->
    <!-- ADD -->
    @RenderSection("scripts", false)
    <!-- END ADD -->
    <script>
        $('#loading').bind('ajaxStart', function () {
            $(this).show();
        }).bind('ajaxStop', function () {
            $(this).hide();
        });
    </script>
</body>
<!-- END BODY -->
</html>
