@{
    string nameOfActionCallThisView = ViewContext.RouteData.GetRequiredString("action");
    string nameOfControllerCallThisView = ViewContext.RouteData.GetRequiredString("controller");
    string full = nameOfControllerCallThisView + "/" + nameOfActionCallThisView;
}
<header class="header-center-aligned-transparent navbar-fixed-top header-sticky">
    <!-- Navbar -->
    <nav class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>

                <!-- Navbar Actions -->
                <div class="navbar-actions">
                    <!-- Shopping Cart -->
                    <!-- End Shopping Cart -->
                    <!-- Search Fullscreen -->
                    <div class="navbar-actions-shrink search-fullscreen @{if (full.Equals("home/index", StringComparison.OrdinalIgnoreCase)){<text>search-fullscreen-trigger-white</text>}}">
                        <div class="search-fullscreen-trigger">
                            <i class="search-fullscreen-trigger-icon fa fa-search"></i>
                        </div>
                        <div class="search-fullscreen-overlay">
                            <div class="search-fullscreen-overlay-content">
                                <div class="search-fullscreen-input-group">
                                    <input type="text" class="form-control search-fullscreen-input" placeholder="Search for ...">
                                    <button class="search-fullscreen-search" type="button"><i class="search-fullscreen-search-icon fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="search-fullscreen-bg-overlay">
                            <div class="search-fullscreen-close">&times;</div>
                        </div>
                    </div>
                    <!-- End Search Fullscreen -->
                    <!-- Sidebar -->
                    <a class="navbar-actions-shrink sidebar-trigger @{if (full.Equals("home/index", StringComparison.OrdinalIgnoreCase)){<text>sidebar-trigger-style-white</text>}}" href="javascript:void(0);">
                        <span class="sidebar-trigger-icon"></span>
                    </a>
                    <!-- End Sidebar -->
                </div>
                <!-- End Navbar Actions -->
                <!-- Logo -->
                <div class="navbar-logo">
                    <a class="navbar-logo-wrap" href="~/">
                        @if (full.Equals("home/index", StringComparison.OrdinalIgnoreCase))
                        {
                            <img class="navbar-logo-img navbar-logo-img-white" src="~/Images/logo-default-white.png" alt="Ark">
                            <img class="navbar-logo-img navbar-logo-img-dark" src="~/Images/logo-default.png" alt="Ark">
                        }
                        else
                        {
                            <img class="navbar-logo-img" src="~/Images/logo-default.png" alt="QuizApplication">
                        }
                    </a>
                </div>

                <!-- End Logo -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-left">
                        <!-- Home -->
                        <li class="nav-item dropdown">
                            <a class="nav-item-child dropdown-toggle radius-3 active" href="javascript:void(0);" data-toggle="dropdown">
                                Trang chủ
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Default -->
                                <li class="dropdown-menu-item">
                                    <a class="dropdown-menu-item-child" href="~/">Mặc định</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a class="dropdown-menu-item-child" href="#">Slider</a>
                                </li>
                                <!-- End Default -->
                            </ul>
                        </li>
                        <!-- End Home -->
                        <!-- Pages -->
                        <li class="nav-item dropdown mega-menu-fullwidth">
                            <a class="nav-item-child dropdown-toggle radius-3" href="javascript:void(0);" data-toggle="dropdown">
                                Trang
                            </a>
                            <ul class="dropdown-menu">
                                <li class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <!-- About Pages -->
                                            <ul class="list-unstyled mega-menu-list">
                                                <li><span class="mega-menu-title">Tin tức</span></li>
                                                <li class="mega-menu-item">@Html.ActionLink("Chia sẻ kiến thức", "cat", "home", new { id = 1, type = 1 }, new { @class = "mega-menu-child" })</li>
                                                <li class="mega-menu-item">@Html.ActionLink("Thông báo", "cat", "home", new { id = 1, type = 2 }, new { @class = "mega-menu-child" })</li>
                                                <li class="mega-menu-item">@Html.ActionLink("Cẩm nang", "cat", "home", new { id = 1, type = 3 }, new { @class = "mega-menu-child" })</li>
                                                <li class="mega-menu-item">@Html.ActionLink("Tải về android", "cat", "home", new { id = 1, type = 4 }, new { @class = "mega-menu-child" })</li>
                                                <li class="mega-menu-item">@Html.ActionLink("Tải về desktop", "cat", "home", new { id = 1, type = 5 }, new { @class = "mega-menu-child" })</li>
                                            </ul>
                                            <!-- End About Pages -->
                                        </div>
                                        <div class="col-md-4">
                                            <!-- Business Pages -->
                                            <ul class="list-unstyled mega-menu-list">
                                                <li><span class="mega-menu-title">Đóng góp</span></li>
                                                <li class="mega-menu-item"><a class="mega-menu-child" href="#">Đóng góp câu hỏi</a></li>
                                                <li class="mega-menu-item"><a class="mega-menu-child" href="#">Góp ý</a></li>
                                            </ul>
                                            <!-- End Business Pages -->
                                        </div>
                                        <div class="col-md-4">
                                            <!-- Utility Pages -->
                                            <ul class="list-unstyled mega-menu-list">
                                                <li><span class="mega-menu-title">Liên hệ</span></li>
                                                <li class="mega-menu-item"><a class="mega-menu-child" href="#">Contacts</a></li>
                                                <li class="mega-menu-item"><a class="mega-menu-child" href="#">Về chúng tôi</a></li>
                                            </ul>
                                            <!-- End Utility Pages -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-bg form-modal-nav radius-3">
                            @Html.ActionLink("Làm bài", "index", "testing", null, new { @class = "nav-item-child form-modal-login radius-3" })
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-item-child dropdown-toggle radius-3" href="javascript:void(0);" data-toggle="dropdown">
                                    Quản trị
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- Default -->
                                    <li class="dropdown-menu-item">
                                        @Html.ActionLink("Quyền", "index", "roles", null, new { @class = "dropdown-menu-item-child" })
                                    </li>
                                    <li class="dropdown-menu-item">
                                        @Html.ActionLink("Featured", "index", "featured", null, new { @class = "dropdown-menu-item-child" })
                                    </li>
                                    <li class="dropdown-menu-item">
                                        @Html.ActionLink("Tin tức", "index", "news", null, new { @class = "dropdown-menu-item-child" })
                                    </li>
                                    <li class="dropdown-menu-item">
                                        @Html.ActionLink("Staff", "index", "staff", null, new { @class = "dropdown-menu-item-child" })
                                    </li>
                                    <!-- End Default -->
                                </ul>
                            </li>
                        }
                        <!-- End Pages -->

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <!-- End Navbar Collapse -->
        </div>
        <!--// End Container-->
    </nav>
    <!-- Navbar -->
</header>