@model IEnumerable<Core.Model.History>
@{ 
    ViewBag.Title = "Lịch sử làm bài";
}
<div class="banner-img-v3 bg-position-fixed">
    <div class="content-lg container">
        <div class="heading-v2 text-center">
            <h2 class="heading-v2-title text-white wow fadeInUp animated">Lịch sử làm bài</h2>
            <p class="heading-v2-text text-white wow flipInY animated">Xem lại danh sách các môn đã làm gần đây</p>
        </div>
    </div>
</div>
<div class="bg-color-sky-light">
    <div class="content-md container wow fadeInUp animated">
        <p>
            @*@Html.ActionLink("Tạo mới", "Create")*@
        </p>
        <div class="table-wrap">
            <div class="table-wrap-header">
                <h3 class="table-wrap-header-title">Lịch sử làm bài</h3>
                <ul class="list-inline table-wrap-header-tools ul-li-lr-0">
                    <li class="table-wrap-header-tools-item theme-icons-wrap"><a href="javascript:void(0);"><i class="theme-icons theme-icons-dark-hover theme-icons-xs radius-circle fa fa-bell-o"></i></a></li>
                    <li class="table-wrap-header-tools-item theme-icons-wrap"><a href="javascript:void(0);"><i class="theme-icons theme-icons-dark-hover theme-icons-xs radius-circle fa fa-bars"></i></a></li>
                </ul>
            </div>
            <div class="table-wrap-body">
                <div class="table-responsive">
                    <!-- Table Hover -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Mã môn</th>
                                <th>Số câu</th>
                                <th>Đã trả lời</th>
                                <th>Câu đúng</th>
                                <th>Thời gian</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.SubId)</td>
                                <td>@Html.DisplayFor(modelItem => item.NumberQuest)</td>
                                <td>@Html.DisplayFor(modelItem => item.NumberAns)</td>
                                <td>@Html.DisplayFor(modelItem => item.NumberCorrect)</td>
                                <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <!-- End Table Hover -->
                </div>
            </div>
        </div>
    </div>
</div>
